.App {
  text-align: center;
  display: inline-block;
  margin-left: 33%;
}

table,
tr,
td,
th {
  border: 2px solid rgb(172, 148, 148);
}

button {
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px #888888;
  margin: 3px;
  padding: 5px;
}
